@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*font-family: 'Bebas Neue', sans-serif;*/

.menu-logo{
    background-color:aqua;
    height: 100px;
    width: 150px;
    position:relative;
    left:30px;
    border:3px solid #f2f8e9;
}

.menu {
    display: flex;
    align-items: center;
    width: 100vw;
    position: fixed;
    background: black;
    margin-top: -15px;
    margin-left: -8px;
}
.background-body{
    background-image: url(images/fondopizza.jpg);
    background-repeat: repeat;
    width: 100vh;
    height: 100vh;
}

/* .navbar{
    color: #f2f8e9;
} */ 

/* a{
    color:#f2f8e9;
} */

h1{
    color:blanchedalmond;
}

p{
    color: whitesmoke;
    /*justify-content: space-around;
    align-items: center; */ 
    font-size: 20px;

}

.psubtitles{
    width: 500px;
}
header {
    min-height: 100vh;
}

/* .container {
    max-width: 1200px;
    margin: 15px;
    padding-top: 100px;

} */ 

.navbar {
    padding-left: 30px;
    width: 100%;
}
.navbar ul {
    width: 100%; 
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar ul li {
    padding: 0 20px;
    font-size: 20px;
} 

.navbar ul li a {
    color: #FFFFFF;
} 

.navbar ul li a:hover {
    color: #EE13C4;
} 

/* Sobre Nosotros*/

.sobre-nos {
    background-color: rgb(111 96 80);
    width: 100vw;
    padding-bottom: 5rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -8px;
    padding-right: 8px;
}

.sobre-nos img {
    width: 400px;
    height: 250px;
    border: 2px solid rgb(155, 155, 155);
}

.main{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    width: 100vw;
}

.contentsobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.contentsobre h2 {
    font-size: 30px;
    margin-bottom: 1rem;
}

.contentsobre p {
    text-align: justify;
    font-size: 25px;
    width: 600px;
    margin-top: 10px;
}

.map {
    height: 300px;
    width: 300px;
}

.ColorTitles{
    color: blueviolet;
}

.liContact{
    color: #ffffff;
    font-size: 23px;
    font-weight: 600;
}

.aContact{
    color:#874793;
}

.colorWhatsApp{
    color:rgb(115 221 12);
}
.colorInstagram{
    background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
    color: white;
    border-radius: 100px;
    font-size: 18px;
    padding: 1px 3px 1px 3px;
}

.colorFacebook{
    color: rgb(16 0 255);
}