.gallery-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-left: -31px;
}

.gallery-item{
    width: 280px;
    height: 280px;
    display: flex;
    padding-right: 20px;
}

.gallery-image{
    width: 280px;
    height: 280px;
    border-radius: 30px;
    border: solid 4px slateblue;
}

.width260Imp{
    width: 260px !important;
}